body,div{margin:0;padding:0;}
.section{
    width: 100%;
    height: 100%;
    position: relative;
    overflow:hidden;
}

section:nth-of-type(1){
    background-color:#0DA5D6;
}
section:nth-of-type(1) .logo,
section:nth-of-type(1) .feature{
    background: url(../images/p1.png) no-repeat;
}
section:nth-of-type(1) .txt{
    width: 100%;
    height: 95px;
    line-height:1;
    text-align: center;
    position: absolute;
    top: 50%;
}

.section:first-child span:nth-child(1) {
    background-position: -7px -208px;
    width: 63px;
    height: 83px;
}

.section:first-child span:nth-child(2) {
    background-position: -76px -205px;
    width: 91px;
    height: 90px;
}

.section:first-child span:nth-child(3) {
    background-position: -181px -209px;
    width: 82px;
    height: 85px;
}

.section:first-child span:nth-child(4) {
    background-position: -277px -204px;
    width: 90px;
    height: 91px;
}

.section:first-child span:nth-child(5) {
    background-position: -376px -205px;
    width: 92px;
    height: 90px;
}

.section:first-child span:nth-child(6) {
    background-position: -481px -209px;
    width: 82px;
    height: 85px;
}

.section:first-child span:nth-child(7) {
    background-position: -576px -205px;
    width: 92px;
    height: 90px;
}

.section:first-child span:nth-child(8) {
    background-position: -677px -204px;
    width: 91px;
    height: 91px;
}
section:nth-of-type(1) .logo{
    width: 247px;
    height: 185px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -123px;
    background-position: -256px 0;
}
section:nth-of-type(1) .feature{
    width: 772px;
    height: 49px;
    margin: 156px 0 0 -386px;
    background: url(../images/p1.png) no-repeat 0 -345px;
    position: absolute;
    left: 50%;
    top: 50%;
}
.section:nth-of-type(1) .txt span{
    display:inline-block;
    margin:0 40px;
    background-image: url(../images/p1.png);
    opacity: 0;
}
.current.section:nth-of-type(1)  span{
    margin: 0 7px;
    opacity: 1;
    transition: all 1s ease-out 0.3s;
}

/*第二屏*/
section:nth-of-type(2){
    background-color: #2AB561;
}
section:nth-of-type(2) .intro{
    width: 635px;
    height: 309px;
    background: url(../images/p2.png) no-repeat;
    position: absolute;
    left:600px;
    top: 50%;
    margin-top: -155px;
}


section:nth-of-type(2) .shield{
    width: 432px;
    height: 498px;
    position: absolute;
    top:50%;
    left:50px;
    margin-top: -249px;
}
.shield span{
    position: absolute;
}
.shield span:nth-of-type(1){
    width: 120px;
    height: 155px;
    left:0;top:0;
    background: url(../images/shield.png) no-repeat 0 0;
    transform: translate(400%, -100%) rotate(80deg);
}
.shield span:nth-of-type(2){
    width: 175px;
    height: 155px;
    left:124px;
    top:0;
    background: url(../images/shield.png) no-repeat -124px 0;
    transform: translate(65%, 279%) rotate(145deg);
}
.shield span:nth-of-type(3){
    width: 125px;
    height: 155px;
    left:303px;
    top:0;
    background: url(../images/shield.png) no-repeat -303px 0;
    transform: translate(400%, 380%) rotate(70deg);
}
.shield span:nth-of-type(4){
    width: 120px;
    height: 173px;
    left:0;
    top: 159px;
    background: url(../images/shield.png) no-repeat 0 -159px;
    transform: translate(500%, 29%) rotate(110deg);
}
.shield span:nth-of-type(5){
    width: 175px;
    height: 173px;
    top: 159px;
    left: 124px;
    background: url(../images/shield.png) no-repeat -124px -159px;
    transform: translate(472%, 73%) rotate(60deg);
}
.shield span:nth-of-type(6){
    width: 125px;
    height: 173px;
    left:303px;
    top: 159px;
    background: url(../images/shield.png) no-repeat -303px -159px;
    transform: translate(195%, 136%) rotate(90deg);
}
.shield span:nth-of-type(7){
    width: 120px;
    height: 162px;
    left: 0;
    top: 336px;
    background: url(../images/shield.png) no-repeat 0 -336px;
    transform: translate(-31%, -106%) rotate(282deg);
}
.shield span:nth-of-type(8){
    width: 175px;
    height: 162px;
    left: 124px;
    top: 336px;
    background: url(../images/shield.png) no-repeat -124px -336px;
    transform: translate(47%, -157%) rotate(80deg);
}
.shield span:nth-of-type(9){
    width: 125px;
    height: 162px;
    left: 303px;
    top: 336px;
    background: url(../images/shield.png) no-repeat -303px -336px;
    transform: translate(-320%, -410%) rotate(120deg);
}

.current.section:nth-of-type(2) .shield span{
    animation: huanyuan 1s ease-out forwards 0.3s;
}
@keyframes huanyuan {
    from{}
    to{	transform: translate(0,0) rotate(0deg);}
}

/*第三屏*/
section:nth-of-type(3){
    background-color: #DE8910;
}
section:nth-of-type(3) .intro{
    width: 640px;
    height: 280px;
    background: url(../images/p3.png) no-repeat 0 -288px;
    position: absolute;
    top: 50%;
    left: 80px;
    margin-top: -140px;
}
section:nth-of-type(3) .circle{
    width: 450px;
    height: 450px;
    position: absolute;
    left: 58%;
    top: 50%;
    margin-top: -225px;
}
section:nth-of-type(3) .circle span{
    width: 450px;
    height: 450px;
    display: block;
    background: url(../images/p3.png) no-repeat;
}
section:nth-of-type(3) .circle span:nth-of-type(1){
    background-position: 0 -605px;
}
section:nth-of-type(3) .circle span:nth-of-type(2){
    width: 404px;
    height: 404px;
    position: absolute;
    left:50%;
    top:50%;
    margin:-202px 0 0 -202px;
    background-position: -460px -620px;
}
section:nth-of-type(3) .circle span:nth-of-type(3){
    width: 362px;
    height: 362px;
    position: absolute;
    left:50%;
    top:50%;
    margin:-180px 0 0 -180px;
    background-position: -882px -643px;
}
section:nth-of-type(3) .rocket {
    width: 205px;
    height: 230px;
    background: url(../images/p3.png) no-repeat -371px 0;
    position: absolute;
    left:67%;
    top: 31%;
    opacity: 0;
    transform: translate(-425px,425px);
}
.current.section:nth-of-type(3) .rocket{
    transform:translate(0,0);opacity:1;
    transition:all 1s ease-in-out 0.3s;
}

/*第四屏*/
section:nth-of-type(4) {
    background-color: #16BA9D;
}
section:nth-of-type(4) .intro{
    width: 615px;
    height: 300px;
    background: url(../images/p4.png) no-repeat -560px 0;
    position: absolute;
    left:48%;
    top:50%;
    margin-top: -150px;
}
section:nth-of-type(4) .search{
    width:528px;
    height: 66px;
    background: url(../images/p4.png) no-repeat;
    margin: -155px 0 0 0;
    position: absolute;
    top: 50%;
    left: -100%;
    opacity:0;
}

section:nth-of-type(4) .key{
    width: 0px;
    height: 18px;
    display: block;
    background: url(../images/p4.png) no-repeat -570px -330px;
    position: absolute;
    left: 26px;
    top: 26px;
}
section:nth-of-type(4) .wrap{
    width: 502px;
    height: 354px;
    overflow:hidden;
    position: absolute;
    left:14px;
    top:53px;
}
section:nth-of-type(4) .wrap .tips{
    width: 502px;
    height: 354px;
    background: url(../images/p4.png) no-repeat -15px -83px;
    transform: translate(0,-100%);
}
.current.section:nth-of-type(4) .search{
    left:50%;
    margin-left:-595px;
    opacity:1;
    transition:all 1s ease-in-out 0.3s;
}
.current.section:nth-of-type(4) .search .key{
    animation:show 1.5s steps(5) 1.3s forwards;
}
@keyframes show {
    from{}
    to{width:90px;}
}
.current.section:nth-of-type(4) .search .tips{
    transform: translate(0,0);
    transition:all 0.5s ease-in-out 2.8s;
}

/*第五屏*/
section:nth-of-type(5){
    background-color: #0DA5D6;
}
section:nth-of-type(5) .intro{
    height: 135px;
    width: 1077px;
    background: url(../images/p5.png) no-repeat;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left:-538px;
}
section:nth-of-type(5) .browser{
    width: 1002px;
    height: 576px;
    margin: -170px 0 0 -501px;
    position: absolute;
    left: 50%;
    top: 50%;
}
section:nth-of-type(5) .browser .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/p5.png) no-repeat -38px -162px,rgba(255,255,255,0.15);
    opacity: 0;
}
section:nth-of-type(5) .browser .swrap{
    width: 0;
    height: 27px;
    position: absolute;
    top: 30px;
    left: 67px;
    overflow: hidden;
}
section:nth-of-type(5) .browser .swrap span{
    display: block;
    width: 916px;
    height: 25px;
    border: rgba(255,255,255,0.5) solid 1px;
    border-radius: 3px;
    margin-left: 1px;
}
.section:nth-child(5) .line {
    width: 0;
    position: absolute;
    bottom: 32px;

}
.section:nth-of-type(5) .border{
    position: absolute;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    opacity:0;
}
.section:nth-of-type(5) .leftside{
    height: 576px;
    width: 0;
    left:-1px;
    top:-100%;
    border-width:0 0 0 1px;
}
.section:nth-of-type(5) .rightside{
    height: 576px;
    width: 0;
    right:-1px;
    top:100%;
    border-width:0 1px 0 0;
}
.section:nth-of-type(5) .topside{
    height: 0;
    width: 100%;
    left:100%;
    top:-1px;
    border-width:1px 0 0 0;
}
.section:nth-of-type(5) .bottomide{
    height: 0;
    width: 100%;
    left:-100%;
    bottom:-1px;
    border-width:0 0 1px 0;
}
.current.section:nth-of-type(5) .bg{
    opacity:1;
    transition:all 2s ease-in-out 1s;
}
.current.section:nth-of-type(5) .leftside{
    opacity: 1;
    top:0;
    transition:all 1.5s ease-in-out 0.5s;
}
.current.section:nth-of-type(5) .rightside{
    opacity: 1;
    top:0;
    transition:all 1.5s ease-in-out 0.5s;
}
.current.section:nth-of-type(5) .topside{
    opacity: 1;
    left:0;
    transition:all 1.5s ease-in-out 0.5s;
}
.current.section:nth-of-type(5) .bottomside{
    opacity: 1;
    left:0;
    transition:all 1.5s ease-in-out 0.5s;
}
.current.section:nth-of-type(5) .swrap{
    width: 920px;
    transition:all 1s ease-in-out 2s;
}


